<web-app
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <!-- web-app_2_3.xsd 这个版本还不支持jstl -->

  <display-name>Archetype Created Web Application</display-name>

  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>cn.edu.qdu.todo.servlet.HelloServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>add</servlet-name>
    <servlet-class>cn.edu.qdu.todo.servlet.AddServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>complete</servlet-name>
    <url-pattern>/complete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>complete</servlet-name>
    <servlet-class>cn.edu.qdu.todo.servlet.CompleteServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delete</servlet-name>
    <servlet-class>cn.edu.qdu.todo.servlet.DeleteServlet</servlet-class>
  </servlet>

</web-app>
